html {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
/*    overflow-x: hidden;*/
}

body {
    width: 100%;
}

.hero {
    height: 100vh;
    margin: auto;
}

h1 {
    float: right;
    margin-top: 40vh;
    margin-right: 6%;
    width: 50%;
    color: #353535;
}

#mockup {
    position: absolute;
    display: block;
    margin-left: 12%;
    height: 70vh;
    padding-top: 14vh;
}

.body-text {
    margin-top: 6%;
    margin-bottom: 12%;
}

.flex-container {
    display: flex;
    margin: auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

p {
    width: 34vw;
    text-align: justify;
    text-align-last: center;
}

.flex-container > div:nth-of-type(2){
    width: 40vw;
}

#float {
    width: 100%;
}

/*
p {
    padding-top: 20vh;
    width: 35%;
    float: left;
    margin-left: 10%;
    color: #2d2d2d;
    text-align: justify;
    text-align-last: center;
}

.body-text > img {
    margin-top: 20vh;
    margin-right: 3%;
    float: right;
    width: 50vw;
}
*/


@media(max-width: 1000px) {
    
    .flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}
